doctype html
html(lang="en").h-100.mozwebext
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Tobias Kuppens Groot")
    title Sign-up Form

    block head

  body.d-flex.flex-column.h-100.bg-light
    block header
      include _header.pug

    main(role="main")
      block content

    block footer
      include _footer.pug
