include modal/admin.pug
- const modal = "#adminModal"

header.text-center.py-5
  //- button(type="button" data-toggle="modal" data-target=modal).btn.btn-outline-primary.btn-admin.position-absolute.m-3 Admin
  //- a(id="admin" href="admin.html").btn.btn-outline-primary.btn-admin.position-absolute.m-3 Admin
  img(src=require("./assets/logo.jpg") alt="Logo" width="72" height="72").d-block.mx-auto.mb-4
  h1.h3.mb-3.font-weight-normal The Form to sign-up for
